/*Global styles*/


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto slab, sans-serif;
    font-size: 16px;
    line-height: 1.5px;
    color: #332c23;
}

a {
    text-decoration: none;
    font-family: Bebas neue, sans-serif;
    text-transform: uppercase;
    color: floralwhite;
    line-height: 25px;
    font-size: 80%;
    
}

ul {
    list-style: none;
}

/*Header styles*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: floralwhite;
}

h1 {
    margin-left: 20px;
    font-family: babas neue, sans-serif;
}

/*style Logo and Nav*/

.logo {
    display: flex;
    align-items: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #b1ddf1;
    
}


.logo img {
    height: 50px;
    margin-right: 10px;
    border-radius: 200%;
}

nav ul {
    display: flex;
    
}

nav li {
    margin-left: 50px;
    padding-top: 12px;

}

nav a {
    transition: color 0,3s;
}
nav a:hover {
    color: #aca5a5;
}

/*Hero image style*/

.hero-image {
    background-image: url("../assets/images/rsz_2hero.jpg");
    height: 400px;
    background-position: center;
    background-size: cover;
    animation: zoom-in 1s forwards;
}

@keyframes zoom-in {
    from {
        transform: scale(1.1);
    }
    to {
        transform: scale(1);
    }
}

/*Main style*/

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px;
    margin: 40px 0;
    background-color: #332c23;
    color: floralwhite;
    box-shadow: 0 0 10px; rgba(0,0,0,0.3);
}
section img {
    max-width: 40%;
    margin-right: 20px;
}

section div {
    max-width: 50%;
}

section h2 {
    margin-bottom: 10px;
}

section ul li {
    margin-bottom: 10px;
}

/*Form style*/

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

label {
    margin-bottom: 5px;
}

input, textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);  
}

